
.students__data {
    background-color: whitesmoke;
    border: 2px solid white;
    border-radius: 10px;
    width: 30%;
    display: inline-flex;
    gap: 20px;
    margin-right: 10px;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 20px;
    cursor: pointer;
}
.mystudents {
    display: flex;
    gap: 10px;
}